<div class="dashboard-container">
    <h2>Meu Painel</h2>
    <div class="actions">
        <a routerLink="/dashboard/campaigns/new" class="btn-create">Criar Nova Campanha</a>
    </div>

    <div *ngIf="isLoading" class="loading">
        <p>A carregar as suas campanhas...</p>
    </div>

    <div *ngIf="error" class="error-message">
        <p>{{ error }}</p>
    </div>

    <div *ngIf="!isLoading && !error">
        <h3>Minhas Campanhas Criadas</h3>
        <ul *ngIf="myCampaigns.length > 0; else noCampaigns">
            <li *ngFor="let campaign of myCampaigns">
                <strong>{{ campaign.titulo }}</strong> (Arrecadado: R$ {{ campaign.valorArrecadado }} / Meta: R$ {{
                campaign.metaArrecadacao }})
            </li>
        </ul>
        <ng-template #noCampaigns>
            <p>Você ainda não criou nenhuma campanha. Que tal começar uma agora?</p>
        </ng-template>
    </div>
</div>