<section class="hero-container">
    <div class="hero-text">
        <h1>Transforme Vidas com a Sua Doação</h1>
        <p>
            Pequenos gestos geram grandes mudanças. Encontre uma causa,
            apoie uma campanha e faça parte de uma corrente do bem que está a
            mudar o mundo.
        </p>
        <button mat-raised-button color="primary">Ver Campanhas</button>
    </div>

    <div class="hero-image">
        <img ngSrc="/assets/banner.png" width="1260" height="750" alt="Pessoas a trabalhar juntas numa causa social"
            priority>
    </div>
</section>