.home-container {
    padding: 2rem;
}

.campaign-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1.5rem;
    margin-top: 24px;
}

.campaign-card {
    width: 100%;
    max-width: 400px;
    margin: auto;
}