<div class="home-container">
    <app-hero></app-hero>
    <app-search-filter (searchChanged)="onSearchChanged($event)"></app-search-filter>

    <div class="section-title">
        <h2>Explore Nossas Campanhas</h2>
    </div>

    <div *ngIf="(campaignService.isLoading$ | async)" class="loading">
        <p>A carregar campanhas...</p>
    </div>

    <div *ngIf="!(campaignService.isLoading$ | async)">
        <div *ngIf="(campaignService.campaigns$ | async) as campaigns">

            <ng-template #noCampaigns>
                <p>Nenhuma campanha encontrada com os critérios de busca.</p>
            </ng-template>

            <div *ngIf="campaigns.length > 0; else noCampaigns" class="campaigns-container">
                <app-campaign-card *ngFor="let campaign of campaigns" [campaign]="campaign"></app-campaign-card>
            </div>

        </div>

        <mat-paginator [length]="(campaignService.totalCampaigns$ | async)" [pageSize]="pageSize"
            [pageIndex]="currentPage" (page)="handlePageEvent($event)">
        </mat-paginator>
    </div>