<header class="main-header">
    <h1><a routerLink="/home">Projeto de Doação</a></h1>
    <nav>
        <a routerLink="/home">Todas as Campanhas</a>
        <a *ngIf="authService.isAuthenticated()" routerLink="/dashboard">Meu Painel</a>
        <a *ngIf="authService.isAuthenticated()" routerLink="/dashboard/settings">Minha Conta</a>
        <button *ngIf="authService.isAuthenticated()" (click)="authService.logout()">Logout</button>
        <a *ngIf="!authService.isAuthenticated()" routerLink="/login" class="btn-login">Login</a>
        <a *ngIf="authService.isAdmin()" routerLink="/admin/users">Painel Admin</a>
    </nav>
</header>
<main><router-outlet></router-outlet></main>